body{
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #C1C4CB;

}
.svgDiv {
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  overflow: scroll;
  background-color: black;
  border-radius: 25px;
}
